<footer class="footer bg-dark py-3 mt-auto">
    <!-- p => padding, y => for classes that set both *-top and *-bottom -->
    <div class="container">
        <span class="text-muted">YelpCamp 2022, By: Mohammad Murad Sako &copy;</span>
    </div>
</footer>